version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/sters/markdown-table-formatter
    steps:
      - checkout
      - run: make dep && make cover
      - run: bash <(curl -s https://codecov.io/bash)
  release:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/sters/markdown-table-formatter
    steps:
      - checkout
      - run: curl -sL https://git.io/goreleaser | bash
workflows:
  version: 2
  build-and-release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^[0-9]+(\.[0-9]+)*/
